* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.soal {
  margin: 0;
}

.correct {
  background: greenyellow;
}

.incorrect {
  background: red;
}

.btns {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  /* margin: 10px 0; */
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btns:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.btns:disabled {
  cursor: no-drop;
}

.next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}
